
/**
 * @file
 * Solace API CSS fixes for filter form.
 */

/*
 * Next lines are valid when no theming at all have been made.
 */

.filter-values-taxonomy .assistant-filter-multiple-value .form-item {
  float: left;
}

.assistant-filter-multiple-value {
  float: left;
}

.assistant-filter-multiple-remove {
  float: left;
}

.assistant-filter-multiple-add {
  float: left;
}

#assistant-api-filters-form .form-item {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#assistant-api-filters-form input[type=image],
#assistant-api-filters-form input[type=button],
#assistant-api-filters-form input[type=submit] {
  margin: 0.5em 0.5em 0.5em 0;
}

/*
 * Next lines are used when we use our own theme function. 
 */

.assistant-filter-multiple-add-column {
  display: block;
  height: auto;
}

.assistant-filter-multiple-values-column {
  float: right;
}
