
/**
 * @file
 * Solace API jQuery UI additional CSS and fixes
 */

fieldset.assistant-dialog-main legend,
.assistant-dialog-main .fieldset-title /* Admin theme fix */
{
  display: none;
}

.assistant-dialog-main,
.assistant-dialog-main div.fieldset /* Admin theme fix */
{
  margin: 0 !important;
  padding: 0 !important;
}

.ui-dialog-overlay {
  background-color: black;
  opacity: 0.7;
}

#assistant-api-filter-form-live-preview-fieldset legend {
  display: none;
}

#assistant-api-filter-form-live-preview-fieldset {
  margin: 0;
  padding: 0;
}

#assistant-api-filters-form tr.filter-query {
  background-color: #FFFFDD;
  border-color: #EEEEBB;
}

#assistant-api-filters-form tr.query {
  background-color: #DDFFDD;
  border-color: #BBEEBB;
}
